---
layout: default
title: Wahoo Makers
---
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Places for Making @ UVA</h1>
                <hr>
                <p>A site for finding resources and learning about Makerspaces, Shops, and Labs at the University of Virginia.</p>
            </div>
        </div>
    </header>

    {% include map.html %}
    {% include people.html %}
    {% include locations.html %}
    {% include resources.html %}
